<table class="metrics" border="0" cellspacing="0" cellpadding="0">
	<tbody>
		<tr class="metric">
			<th class="label">field</th>
			<th>current</th>
			<th>previous</th>
			<th>mappings</th>
			<th>&nbsp;</th>
		</tr>
		{{#for facebook_data.rows}}
			<tr class="metric">
				<td>{{field}}</td>
				<td>{{current}}</td>
				<td>{{previous}}</td>
				<td>
					<div class='quick-button'><i class='far fa-edit'></i></div>
				</td>
			</tr>
		{{/for}}
	</tbody>
</table>