<div class="container clearfix">
	<header>

		<div class="flex-wrapper relative">

			<div class="cell logo">
			
				<div class="branding">
					<p><i class="far fa-fw fa-hand-point-right fa-2x" style="vertical-align:middle;"></i> <a href="/data-sources">MeetBrief</a></p>
				</div>
			
			</div>

			<ul class="user-info">
				<li>User: <a href="/settings">{{user.username}}</a></li>
				<li>Login: {{user.email}}</li>
				<li>Company:  <a href="/team/">{{user.company.company_name}}</a></li>
				<li>Id: <a href="/profile/">{{user.user_id}}</a></li>
			</ul>

			<div class="cell navigation">
		
				<ul class="nav">
					<li class=""><a class="jump button" href="/signout">Sign out</a></li>
				</ul>

			</div>

		</div>

	</header>	
</div>
