<div class="container clearfix">
	<header>

		<div class="flex-wrapper relative">

			<div class="cell logo">
			
				<div class="branding">
					<p><i class="far fa-fw fa-hand-point-right fa-2x" style="vertical-align:middle;"></i> FingerTips</p>
				</div>
			
			</div>

			<div class="cell navigation">
		
				<ul class="nav">
					<li class=""><a class="jump" href="#insights">Insights</a></li>
					<li class=""><a class="jump" href="#connect-sources">Choose Sources</a></li>
					<li class=""><a class="jump" href="#data-editor">Data Editor</a></li>
					<li class=""><a class="jump" href="#debug">Debug</a></li>
					<li class=""><a class="jump" href="/schedule">View Meeting Data</a></li>
					<li class=""><a class="jump" href="/signout">Signout</a></li>
				</ul>

			</div>

			<div class="date-banner">

				

				<div class="date-set date-picker-current">
					
					<span class="label">Current</span>
					
					<div class="date-display">
						<span class="current-from"></span>
						<span class="date-divider"> - </span>
						<span class="current-to"></span>
					</div>
				


				</div>

				<div class="date-set date-picker-compared">
					
					<span class="label">Compared</span>
					
					<div class="date-display">
						<span class="compared-from"></span>
						<span class="date-divider"> - </span>
						<span class="compared-to"></span>
					</div>

				</div>


			</div>

		</div>

	</header>	
</div>
