<div class="container clearfix">
	<header>

		<div class="flex-wrapper relative">

			<div class="cell logo">
			
				<div class="branding">
					<p><i class="far fa-fw fa-hand-point-right fa-2x" style="vertical-align:middle;"></i> FingerTips</p>
				</div>
			
			</div>

			{{user.username}} {{user.email}} {{user.company_name}}

			<div class="cell navigation">
		
				<ul class="nav">
					<li class=""><a class="jump" href="/">Home</a></li>
					<li class=""><a class="jump" href="/testsocial-loggedin">Logged In Social Test</a></li>
					<li class=""><a class="jump" href="/frontend">Front End</a></li>
					<li class=""><a class="jump" href="/schedule">View Schedule</a></li>
					<li class=""><a class="jump" href="/signout">Sign out</a></li>
				</ul>

			</div>

		</div>

	</header>	
</div>
