<div class="container clearfix">
	<header>

		<div class="flex-wrapper relative">

			<div class="cell logo">
			
				<div class="branding">
					<p><i class="far fa-fw fa-hand-point-right fa-2x" style="vertical-align:middle;"></i> <a href="/data-sources">MeetBrief</a></p>
				</div>
			
			</div>

			

		</div>

	</header>	
</div>
