<a href="/"><img src="/assets/images/logo.png" class="logo" /></a>


{{#if user}}

<div class="cell">

	<ul class="items">

				<li>



<svg width="28px" height="25px" viewBox="0 0 28 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Select-profile-Copy-3" transform="translate(-24.000000, -158.000000)" fill="#B7CBE5" fill-rule="nonzero">
            <g id="sidebar">
                <path d="M50.2128555,170.249241 L51.4407051,166.38222 C51.7251669,165.481377 51.2280904,164.520026 50.3285838,164.231366 L48.0704695,163.514415 L46.7043104,159.207062 C46.4169322,158.306472 45.4544424,157.808807 44.5534565,158.094941 L37.7791136,160.245795 L30.9708989,158.080828 C30.069913,157.794694 29.1074232,158.292359 28.820045,159.192949 L27.4397727,163.531351 L25.1957716,164.24548 C24.2951818,164.532858 23.7975165,165.495348 24.0836503,166.396334 L25.3058546,170.249241 L24.0808276,174.102149 C23.7946938,175.003135 24.2923591,175.965624 25.1929489,176.253003 L27.4510632,176.967131 L28.828513,181.305533 C29.0543631,182.012652 29.7092392,182.494413 30.4515326,182.499511 C30.6287747,182.49931 30.8049196,182.471698 30.9737216,182.417655 L37.7847588,180.252688 L44.5591018,182.403541 C45.4609133,182.689441 46.4237753,182.19032 46.7099557,181.288597 L48.0789375,176.981244 L50.3370518,176.264293 C51.2376416,175.976915 51.7353069,175.014425 51.4491731,174.113439 L50.2128555,170.249241 Z M49.8995421,165.574944 C50.058444,165.624956 50.1468473,165.794185 50.0971271,165.953179 L49.473323,167.914915 L48.5983037,165.168484 L49.8995421,165.574944 Z M30.163623,159.621991 C30.2148287,159.464221 30.383688,159.377271 30.5418572,159.427228 L35.4532558,160.98815 L29.0881961,163.009162 L30.163623,159.621991 Z M25.6248133,174.906602 C25.4670439,174.855396 25.380094,174.686537 25.4300509,174.528368 L26.0510324,172.575099 L26.9204064,175.329998 L25.6248133,174.906602 Z M45.3579097,180.862378 C45.3067041,181.020148 45.1378448,181.107098 44.9796756,181.057141 L40.1134392,179.513155 L46.4248687,177.506256 L45.3579097,180.862378 Z M30.5446798,181.071254 C30.3865106,181.121211 30.2176513,181.034261 30.1664457,180.876492 L25.4272283,165.967292 C25.3775081,165.808298 25.4659114,165.639069 25.6248133,165.589058 L44.9796756,159.438519 C45.1378448,159.388562 45.3067041,159.475512 45.3579097,159.633281 L50.0971271,174.542481 C50.1468473,174.701474 50.058444,174.870703 49.8995421,174.920715 L30.5446798,181.071254 Z M39.5771371,170.13069 C39.4324479,170.412815 39.11678,170.563133 38.8065556,170.497634 L35.5492257,169.820199 L32.3398807,175.211447 C32.1387823,175.545832 31.7046875,175.653882 31.3703029,175.452783 C31.0359183,175.251685 30.9278685,174.81759 31.1289669,174.483205 L34.6008177,168.660093 C34.7542433,168.400241 35.0564214,168.267328 35.3516407,168.329844 L38.5750989,169.007278 L40.9969264,164.344272 L40.2715072,164.572906 C39.899709,164.690603 39.5028945,164.484614 39.3851974,164.112815 C39.2675002,163.741017 39.4734899,163.344203 39.8452882,163.226506 L42.193727,162.484151 C42.3722697,162.427501 42.5660098,162.444163 42.7322588,162.530464 C42.8985078,162.616765 43.0236232,162.765624 43.0800369,162.944241 L43.8252146,165.29268 C43.9038724,165.533192 43.848244,165.797397 43.6792839,165.985772 C43.5103239,166.174147 43.2537014,166.258074 43.0060836,166.205938 C42.7584658,166.153802 42.5574717,165.973524 42.478814,165.733012 L42.2501799,165.007593 L39.5771371,170.13069 Z M45.1405662,173.546088 C45.2161987,173.786599 45.1577747,174.04919 44.9873021,174.234946 C44.8168294,174.420701 44.5602069,174.5014 44.3141017,174.446644 C44.0679966,174.391888 43.869798,174.209996 43.7941656,173.969484 L42.1909044,168.888727 C42.1147677,168.648216 42.1727257,168.385356 42.3429463,168.199164 C42.5131668,168.012972 42.7697894,167.931735 43.0161466,167.986054 C43.2625039,168.040374 43.4611683,168.221997 43.537305,168.462508 L45.1405662,173.546088 Z M41.7533947,174.61587 C41.8738141,174.863657 41.8390192,175.158866 41.6642893,175.371865 C41.4895593,175.584864 41.2068482,175.6767 40.940301,175.607046 C40.6737537,175.537392 40.4721153,175.318985 40.4239299,175.047734 L39.6081861,172.453725 C39.5325537,172.213214 39.5909776,171.950623 39.7614503,171.764868 C39.9319229,171.579112 40.1885455,171.498413 40.4346506,171.553169 C40.6807558,171.607925 40.8789543,171.789817 40.9545868,172.030329 L41.7533947,174.61587 Z M38.3662233,175.682829 C38.483141,176.054627 38.2765194,176.45081 37.9047212,176.567727 C37.5329229,176.684645 37.1367403,176.478023 37.0198226,176.106225 L35.9556863,172.719054 C35.8387686,172.347255 36.0453901,171.951073 36.4171884,171.834155 C36.7889866,171.717237 37.1851692,171.923859 37.3020869,172.295657 L38.3662233,175.682829 Z M35.0242141,176.755433 C35.0988382,176.996448 35.0392134,177.258967 34.8677998,177.444102 C34.6963863,177.629236 34.4392258,177.708859 34.1931882,177.652977 C33.9471506,177.597096 33.7496149,177.4142 33.6749908,177.173184 L33.4661152,176.49575 C33.3507564,176.123172 33.5592736,175.727621 33.9318513,175.612263 C34.304429,175.496904 34.6999797,175.705421 34.8153385,176.077999 L35.0242141,176.755433 Z" id="Shape"></path>
            </g>
        </g>
    </g>
</svg>

			<div class="link">

				<a href="/data-sources/">Sources</a>

			</div>


		</li>

		<li>


<svg width="27px" height="27px" viewBox="0 0 27 27" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Select-profile-Copy-3" transform="translate(-24.000000, -218.000000)" fill="#B7CBE5" fill-rule="nonzero">
            <g id="sidebar">
                <path d="M37.5,218 C30.0441559,218 24,224.044156 24,231.5 C24,238.955844 30.0441559,245 37.5,245 C44.9558441,245 51,238.955844 51,231.5 C50.9919994,224.047472 44.9525277,218.008001 37.5,218 Z M30.2245161,241.080645 C31.4839845,240.19253 32.8962499,239.543971 34.3906452,239.167419 C34.8043544,239.063443 35.0940945,238.691091 35.0932258,238.264516 L35.0932258,236.145161 C35.0930338,235.897529 35.0136886,235.656441 34.8667742,235.457097 C34.3271696,234.673328 33.9918619,233.767198 33.8912903,232.820968 C33.8708833,232.617331 33.765453,232.431774 33.6009677,232.31 C33.0197887,231.90593 32.6720135,231.243966 32.6690323,230.536129 C32.6675273,230.419772 32.7149247,230.308125 32.7996774,230.228387 C32.8836404,230.147382 32.9965957,230.103455 33.1132258,230.106452 C33.3091981,230.114309 33.5000084,230.042521 33.6422024,229.907437 C33.7843963,229.772353 33.8658684,229.585472 33.8680645,229.389355 L33.8912903,227.357097 C33.8894018,226.909182 33.9721427,226.464942 34.1351613,226.047742 C34.6316129,224.825484 35.8916129,223.507419 37.4825806,223.507419 L37.8425806,223.507419 L37.8425806,224.175161 C37.8420514,224.547185 38.1228965,224.859374 38.4929032,224.898065 C39.4967793,225.047104 40.3914968,225.611967 40.9577419,226.454194 C41.2001299,226.793014 41.331025,227.198891 41.3322581,227.615484 L41.3322581,229.357419 C41.3322581,229.758271 41.6572127,230.083226 42.0580645,230.083226 C42.1724522,230.084403 42.2818488,230.130245 42.3629032,230.210968 C42.4398334,230.288151 42.4835855,230.392323 42.4848387,230.50129 C42.479168,231.191394 42.1462511,231.837834 41.5877419,232.243226 C41.4246619,232.363675 41.3193931,232.546843 41.2974194,232.748387 C41.1989725,233.723572 40.849923,234.656705 40.2841935,235.457097 C40.1317985,235.658541 40.0492392,235.90418 40.0490323,236.156774 L40.0490323,238.281935 C40.0484755,238.704911 40.333702,239.07487 40.7429032,239.181935 C42.1895071,239.569464 43.5551827,240.212482 44.7754839,241.080645 C40.4764631,244.351114 34.5235369,244.351114 30.2245161,241.080645 Z M45.9019355,240.110968 C45.8801396,240.088168 45.8568633,240.066832 45.8322581,240.047097 C44.5165768,239.083932 43.0428372,238.35787 41.4774194,237.901613 L41.4774194,236.284516 C42.1133438,235.378949 42.5279972,234.336847 42.6880645,233.241935 C43.4729296,232.55538 43.9245382,231.564379 43.9277419,230.521613 C43.9293497,230.023826 43.7317697,229.54608 43.3790323,229.194839 C43.2050761,229.021251 42.9989828,228.883199 42.7722581,228.788387 L42.7722581,227.627097 C42.7769202,226.897333 42.5480244,226.185213 42.1190323,225.594839 C41.4343147,224.612448 40.4329803,223.895013 39.2825806,223.562581 L39.2825806,222.790323 C39.2825806,222.389471 38.957626,222.064516 38.5567742,222.064516 L37.4680645,222.064516 C35.2064516,222.064516 33.4529032,223.85 32.7764516,225.507742 C32.5442532,226.093626 32.4250581,226.718168 32.4251613,227.348387 L32.4106452,228.782581 C32.1756102,228.870979 31.9604785,229.00519 31.7777419,229.177419 C31.4064543,229.529401 31.1964492,230.018712 31.1970968,230.530323 C31.1993031,231.595547 31.6708967,232.605649 32.486129,233.29129 C32.6423088,234.348662 33.039653,235.35593 33.6474194,236.235161 L33.6474194,237.887097 C32.0376514,238.341656 30.5223991,239.081091 29.1735484,240.070323 C29.1489376,240.090051 29.1256609,240.111388 29.103871,240.134194 C25.5887637,236.715292 24.4963419,231.507136 26.341381,226.963932 C28.1864201,222.420729 32.6007984,219.448938 37.5043548,219.448938 C42.4079113,219.448938 46.8222896,222.420729 48.6673287,226.963932 C50.5123678,231.507136 49.419946,236.715292 45.9048387,240.134194 L45.9019355,240.110968 Z" id="Shape"></path>
            </g>
        </g>
    </g>
</svg>

	<div class="link">

				<a href="/team/">Team</a>

			</div>


		</li>


		<li>

<svg width="27px" height="28px" viewBox="0 0 27 28" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Select-profile-Copy-3" transform="translate(-24.000000, -278.000000)" fill="#B7CBE5" fill-rule="nonzero">
            <g id="sidebar">
                <path d="M26.0274725,294.417582 L26.9175824,294.417582 C27.1648352,295.307692 27.510989,296.148352 27.956044,296.93956 L27.3131868,297.582418 C26.521978,298.373626 26.521978,299.659341 27.3131868,300.450549 L28.5989011,301.736264 C28.9945055,302.131868 29.489011,302.32967 30.032967,302.32967 C30.5769231,302.32967 31.0714286,302.131868 31.467033,301.736264 L32.1098901,301.093407 C32.9010989,301.538462 33.7417582,301.884615 34.6318681,302.131868 L34.6318681,303.021978 C34.6318681,304.159341 35.521978,305.049451 36.6593407,305.049451 L38.4395604,305.049451 C39.5769231,305.049451 40.467033,304.159341 40.467033,303.021978 L40.467033,302.131868 C41.3571429,301.884615 42.1978022,301.538462 42.989011,301.093407 L43.6318681,301.736264 C44.0274725,302.131868 44.521978,302.32967 45.0659341,302.32967 C45.6098901,302.32967 46.1043956,302.131868 46.5,301.736264 L47.7857143,300.450549 C48.5769231,299.659341 48.5769231,298.373626 47.7857143,297.582418 L47.043956,296.93956 C47.489011,296.148352 47.8351648,295.307692 48.0824176,294.417582 L48.9725275,294.417582 C50.1098901,294.417582 51,293.527473 51,292.39011 L51,290.60989 C51,289.472527 50.1098901,288.582418 48.9725275,288.582418 L48.0824176,288.582418 C47.8351648,287.692308 47.489011,286.851648 47.043956,286.06044 L47.6868132,285.417582 C48.478022,284.626374 48.478022,283.340659 47.6868132,282.549451 L46.4010989,281.313187 C46.0054945,280.917582 45.510989,280.71978 44.967033,280.71978 C44.4230769,280.71978 43.9285714,280.917582 43.532967,281.313187 L42.9395604,281.956044 C42.1483516,281.510989 41.3076923,281.164835 40.4175824,280.917582 L40.4175824,280.027473 C40.4175824,278.89011 39.5274725,278 38.3901099,278 L36.6098901,278 C35.4725275,278 34.5824176,278.89011 34.5824176,280.027473 L34.5824176,280.917582 C33.6923077,281.164835 32.8516484,281.510989 32.0604396,281.956044 L31.4175824,281.313187 C31.021978,280.917582 30.5274725,280.71978 29.9835165,280.71978 C29.4395604,280.71978 28.9450549,280.917582 28.5494505,281.313187 L27.3131868,282.598901 C26.521978,283.39011 26.521978,284.675824 27.3131868,285.467033 L27.956044,286.10989 C27.510989,286.901099 27.1648352,287.741758 26.9175824,288.631868 L26.0274725,288.631868 C24.8901099,288.631868 24,289.521978 24,290.659341 L24,292.43956 C24,293.527473 24.8901099,294.417582 26.0274725,294.417582 Z M25.8791209,290.60989 C25.8791209,290.56044 25.9285714,290.510989 25.978022,290.510989 L27.6098901,290.510989 C28.0549451,290.510989 28.4505495,290.214286 28.5494505,289.71978 C28.7967033,288.532967 29.2417582,287.445055 29.8846154,286.456044 C30.1318681,286.06044 30.0824176,285.565934 29.7857143,285.269231 L28.6483516,284.082418 C28.5989011,284.032967 28.5989011,283.983516 28.6483516,283.934066 L29.9340659,282.648352 C29.9835165,282.598901 30.032967,282.598901 30.0824176,282.648352 L31.2692308,283.835165 C31.6153846,284.181319 32.1098901,284.230769 32.456044,283.934066 C33.4450549,283.291209 34.532967,282.796703 35.7197802,282.598901 C36.1648352,282.5 36.510989,282.104396 36.510989,281.659341 L36.510989,280.027473 C36.510989,279.978022 36.5604396,279.928571 36.6098901,279.928571 L38.3901099,279.928571 C38.4395604,279.928571 38.489011,279.978022 38.489011,280.027473 L38.489011,281.659341 C38.489011,282.104396 38.7857143,282.5 39.2802198,282.598901 C40.467033,282.846154 41.5549451,283.291209 42.543956,283.934066 C42.9395604,284.181319 43.4340659,284.131868 43.7307692,283.835165 L44.9175824,282.648352 C44.967033,282.598901 45.0164835,282.598901 45.0659341,282.648352 L46.3516484,283.934066 C46.4010989,283.983516 46.4010989,284.032967 46.3516484,284.082418 L45.1648352,285.269231 C44.8186813,285.615385 44.7692308,286.10989 45.0659341,286.456044 C45.7087912,287.445055 46.2032967,288.532967 46.4010989,289.71978 C46.5,290.164835 46.8956044,290.510989 47.3406593,290.510989 L48.9725275,290.510989 C49.021978,290.510989 49.0714286,290.56044 49.0714286,290.60989 L49.0714286,292.39011 C49.0714286,292.43956 49.021978,292.489011 48.9725275,292.489011 L47.3406593,292.489011 C46.8956044,292.489011 46.5,292.785714 46.4010989,293.28022 C46.1538462,294.467033 45.7087912,295.554945 45.0659341,296.543956 C44.8186813,296.93956 44.8681319,297.434066 45.1648352,297.730769 L46.3516484,298.917582 C46.4010989,298.967033 46.4010989,299.016484 46.3516484,299.065934 L45.0659341,300.351648 C45.0164835,300.401099 44.967033,300.401099 44.9175824,300.351648 L43.7307692,299.164835 C43.3846154,298.818681 42.8901099,298.769231 42.543956,299.065934 C41.5549451,299.708791 40.467033,300.203297 39.2802198,300.401099 C38.8351648,300.5 38.489011,300.895604 38.489011,301.340659 L38.489011,302.972527 C38.489011,303.021978 38.4395604,303.071429 38.3901099,303.071429 L36.6098901,303.071429 C36.5604396,303.071429 36.510989,303.021978 36.510989,302.972527 L36.510989,301.340659 C36.510989,300.895604 36.2142857,300.5 35.7197802,300.401099 C34.532967,300.153846 33.4450549,299.708791 32.456044,299.065934 C32.3076923,298.967033 32.1098901,298.917582 31.9120879,298.917582 C31.6648352,298.917582 31.4175824,299.016484 31.2197802,299.214286 L30.0824176,300.351648 C30.032967,300.401099 29.9835165,300.401099 29.9340659,300.351648 L28.6483516,299.065934 C28.5989011,299.016484 28.5989011,298.967033 28.6483516,298.917582 L29.8351648,297.730769 C30.1813187,297.384615 30.2307692,296.89011 29.9340659,296.543956 C29.2912088,295.554945 28.7967033,294.467033 28.5989011,293.28022 C28.5,292.835165 28.1043956,292.489011 27.6593407,292.489011 L26.0274725,292.489011 C25.978022,292.489011 25.9285714,292.43956 25.9285714,292.39011 L25.9285714,290.60989 L25.8791209,290.60989 Z M37.5,296.989011 C40.5164835,296.989011 42.989011,294.516484 42.989011,291.5 C42.989011,288.483516 40.5164835,286.010989 37.5,286.010989 C34.4835165,286.010989 32.010989,288.483516 32.010989,291.5 C32.010989,294.516484 34.4835165,296.989011 37.5,296.989011 Z M37.5,287.89011 C39.478022,287.89011 41.1098901,289.521978 41.1098901,291.5 C41.1098901,293.478022 39.478022,295.10989 37.5,295.10989 C35.521978,295.10989 33.8901099,293.478022 33.8901099,291.5 C33.8901099,289.521978 35.521978,287.89011 37.5,287.89011 Z" id="Shape"></path>
            </g>
        </g>
    </g>
</svg>

		<div class="link">

				<a href="/settings/">Settings</a>

			</div>


		</li>

	</ul>

</div>


<div class="cell">

	<ul class="items">
		<li class=""><a class="" href="/profile">Manage Profile</a></li>
		<li class=""><a class="" href="/signout">Sign out</a></li>
	</ul>

</div>


<div class="cell">

	<ul>
		<li class=""><a class="" href="/data/combined/{{user.user_id}}">Insights</a></li>
		<li class=""><a class="" href="/send/{{user.user_id}}">Sample Email</a></li>
		<li class=""><a class="" href="/data/google/{{user.user_id}}">Google Data</a></li>
		<li class=""><a class="" href="/data/facebook/{{user.user_id}}">Facebook Data</a></li>
	</ul>
</div>

{{/if}}

{{> user-info }}