{{> head }}

<body class="home">

	<div class="app-container">

		<div class="section header clearfix">
			{{> header }}
		</div>

		<div class="below-header"><div class="below-header-inside">

			<div class="container">				
				<div class="image height-100" colspan="2" style="border-collapse: collapse;color: #F3F4F8;min-width: 150px;height: 80px;text-align: right;">
                    <img src="/assets/chart_image/{{datetime}}_chart-1.png" style="max-width: 100%;">
                </div>
			</div>
			<div class="section gutter footer">
				{{> footer }}
			</div>

		</div>
	</div>	

</div>

<div class="test"></div>
	
	{{> scripts }}

</body>

</html>