{{> head }}

<body class="home">

	<div class="app-container">

		<div class="section header clearfix">
			

			<div class="container clearfix">
	<header>

		<div class="flex-wrapper relative">

			<div class="cell logo">
			
				<div class="branding">
					<p><i class="far fa-fw fa-hand-point-right fa-2x" style="vertical-align:middle;"></i> FingerTips</p>
				</div>
			
			</div>

			</div>

		</div>

	</header>	
</div>




		</div>

		<div class="below-header"><div class="below-header-inside">

			<div class="container">

				{{message.to}}
				{{message.from}}

				<p>email</p>
					
			</div>

			<div class="section gutter footer">
				{{> footer }}
			</div>

		</div></div>

		

	</div>
	
	{{> scripts }}


</body>

</html>
