{{> head }}

<body class="home">

	<div class="app-container">

		<div class="section header clearfix">
			{{> header }}
		</div>

		<div class="below-header"><div class="below-header-inside">

			<div class="container">


					<div class="row clearfix" id="connect-sources">

						<h2 class="with-line">Connect API Sources</h2>

						<div class="two-col cols">

						<div class="col first">

							<div class="connector">

								<h2 class="with-line"><i class="fab fa-google"></i> Google Analytics</h2>

								{{#unless google_data }}
									<ul class="connectors-list">
									<a class="title" href='/auth/google'>Connect Google Analytics</a>
									</ul>
								{{/unless}}

								<div class="google-accounts"></div>
						
							</div>

						</div>

						<div class="col last">

							<div class="connector">

								<h2 class="with-line"><i class="fab fa-facebook"></i> Facebook</h2>

								{{#unless facebook_data }}
									<ul class="connectors-list">
										<a class="title" href="/auth/facebook">Connect Facebook Account</a>
									</ul>
								{{/unless}}

								<div class="facebook-accounts"></div>
						
							</div>

						</div>
						</div>
				
					</div>


				
				</div>

			</div>

			<div class="section gutter footer">
				{{> footer }}
			</div>

		</div></div>

		

	</div>
	
<div class="test"></div>

	
	{{> scripts }}


</body>

</html>
