{{> head }}

<body class="home">

	<div class="app-container">

		<div class="section header clearfix">
			{{> header }}
		</div>

		<div class="below-header"><div class="below-header-inside">

			<div class="container">
					<div class="row clearfix" id="connect-sources">

						<h2 class="with-line">Connect API Sources</h2>

						<div class="two-col cols">

							<div class="col first">

								<div class="connector">

									<h2 class="with-line"><i class="fab fa-google"></i> Google Analytics</h2>

									<ul class="connectors-list">
										{{#if google_data }}
										<li class="google google-authorize-button button"><i class="fab fa-google"></i><a class="title" href='/auth/google/unlink'>Disconnect Google Analytics</a></li>
										{{else}}
										<li class="google google-deauthorize-button button"><i class="fab fa-google"></i><a class="title" href='/auth/google'>Connect Google Analytics</a></li>
										{{/if}}
										<li class="google google-showdata-button button"><i class="fab fa-google"></i><a class="title" href='/data/google'>View Data Source</a></li>
									</ul>																						
								</div>
							</div>

							<div class="col last">

								<div class="connector">
									<h2 class="with-line"><i class="fab fa-facebook"></i> Facebook</h2>
									<ul class="connectors-list">
										{{#if facebook_data }}
										<li class="facebook facebook-authorize button"><i class="fab fa-facebook"></i><a class="title" href="/auth/facebook/unlink">Disconnect Facebook</a></li>
										{{else}}
										<li class="facebook facebook-deauthorize button"><i class="fab fa-facebook"></i><a class="title" href="/auth/facebook">Connect Facebook Account</a></li>
										{{/if}}
										<li class="facebook facebook-showdata button"><i class="fab fa-facebook"></i><a class="title" href="/data/facebook">View Data Source</a></li>
									</ul>						
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="section gutter footer">
				{{> footer }}
			</div>

		</div>
	</div>	

</div>

<div class="test"></div>
	
	{{> scripts }}

</body>

</html>
