{{> head }}

<body class="home">

	<div class="app-container">

		<div class="menu">
			{{> menu }}
		</div>

		<div class="main">

			<div class="content">
				{{{ body }}}
			</div>
		
		</div>
		</div>

	</div>	

</div>

{{> scripts }}

</body>
</html>
