{{> head }}

<body class="no-menu">

	<div class="app-container">

		<div class="main">

			{{#if extraClass}}
			<div class="{{extraClass}}">
			{{/if}}

			<div class="content">
				{{{ body }}}
			</div>
		
			{{#if extraClass}}
			</div>
			{{/if}}

		</div>
		</div>

	</div>	

</div>

{{> scripts }}

</body>
</html>
