{{> head }}

<body class="home">

	<div class="app-container">

		<div class="section header clearfix">
			{{> header }}
		</div>
		<div class="below-header"><div class="below-header-inside">
			<div class="container">
				<div class="row clearfix">
                    <form method="POST" action="/settings" class="form">
                        <h2 class="with-line">Settings</h2>
                        <div class="col first">
                            <h2 class="with-line">When should we send your MeetBrief insights?</h2>
                            <div class="when-settings" style="text-align:center;">
                                <select id="time" name="time" value={{time}}>
                                    <option value="15 minutes">15 minutes</option>
                                    <option value="30 minutes">30 minutes</option>
                                    <option value="1 hour">1 hour</option>
                                    <option value="2 hours">2 hours</option>
                                </select>
                            </div>
                        </div>	
                        <div class="col second">
                            <h2 class="with-line">Who should we email insights to?</h2>
                            <div class="who-settings" style="text-align:center;">
                                <select id="attendees" name="attendees" value={{attendees}}>
                                    <option value="All attendees" selected="selected">All attendees</option>
                                    <option value="Internal attendees">Internal attendees</option>
                                    <option value="Just Me">Just Me</option>                               
                                </select>
                            </div>
                        </div>
                        <div class="col last" style="text-align: right;">
                            <button name="save" type="submit">Save</button>
                        </div>	
                    </form>	
				</div>
			</div>
			<div class="section gutter footer">
				{{> footer }}
			</div>
		</div>
	</div>	
</div>

<div class="test"></div>
	
	{{> scripts }}


</body>

</html>