{{> head }}

<body class="home">

	<div class="app-container">

		<div class="section header clearfix">
			{{> header }}
		</div>
		<div class="below-header"><div class="below-header-inside">
			<div class="container">

                {{#if sessionFlash.message}}
                    {{#contains sessionFlash.type "info"}}
                    <div class="flash-message">
                        <p>{{{sessionFlash.message}}}</p>
                    </div>
                    {{/contains}}
                {{/if}}


				<div class="row clearfix" style="text-align: center;">

                    <form method="POST" action="/team/add/" class="form">
                        <div class="col first" style="text-align:center;">
                            <h2 class="with-line">Team Members</h2>
                            <ul class="list">
                            {{#each members}}
                                <li>{{this.username}} {{this.email}} <a href="/team/edit/{{this.id}}">Edit</a></li>
                            {{/each}}
                            </ul>
                        </div>

                        
                        <a href="/team/add/" class="btn">Add New Team Member</a></p>

                      

                    </form>	
				</div>
			</div>
			<div class="section gutter footer">
				{{> footer }}
			</div>
		</div>
	</div>	
</div>

<div class="test"></div>
	
	{{> scripts }}


</body>

</html>