<div class="internal-form">

    <div class="card">
        <form action="/signin" method="post">
            <h1>Forgot Password</h1>
            <h2 type="email" name="email" placeholder="Email Address" required> 
            <input type="submit" value="Reset Password">
        </form>
    </div>

</div>