<div class="internal-form">

{{#if sessionFlash.message}}
        {{#contains sessionFlash.type "info"}}
        <div class="flash-message">
            <p>{{{sessionFlash.message}}}</p>
        </div>
        {{/contains}}
    {{/if}}


<div class="card">
            
    <form action="/signin" method="post">

       <h1>Welcome to MeetBrief!</h1>
         
        {{#if errorMessage}}
            <p class="alert">{{ errorMessage }}</p>
        {{/if}}
        <input type="email" name="email" placeholder="Email Address" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit" value="Login">
       
    </form>

     <div class="sign-up">
            <a href="/signup" class="btn">Sign up</a>
     </div>

</div>

</div>