{{#if sessionFlash.message}}
    {{#contains sessionFlash.type "info"}}
    <div class="flash-message">
        <p>{{{sessionFlash.message}}}</p>
    </div>
    {{/contains}}
{{/if}}

<div class="card">

    <p>Team members are users who are allowed to schedule a MeetBrief from their email address.</p>

    <form method="POST" action="/team/add/" class="form">

        <div class="col first">

            <h2 class="with-line">Team Members</h2>
            <ul class="list">
            {{#each members}}
                <li>{{this.username}} {{this.email}} <a href="/team/edit/{{this.id}}">Edit</a></li>
            {{/each}}
            </ul>

        </div>

        <div class="actions">
            <a href="/team/add/" class="btn">Add New Team Member</a></p>
        </div>

    </form>	

</div>
			