/* ==========================================================================
Messages
========================================================================== */ 

.flash-message p {
	margin: 0;
}

.flash-message {
	background: #c4f5e3;
	box-sizing: border-box;
	padding: 10px 20px;
	text-align: center;
	max-width: 100%;
	display: block;
	margin: 0 auto 10px auto;
}

.note-message {
	background: #88d8ff;
	box-sizing: border-box;
	padding: 10px 20px;
	text-align: center;
	max-width: 100%;
	display: block;
	margin: 0 auto 10px auto;
}

.persistent-message {
	background: rgba(88,93,120,1);
	box-sizing: border-box;
	color: #fff;
	padding: 10px 20px;
	text-align: center;
	max-width: 100%;
	display: block;
	margin: 0 auto 10px auto;
}
