
.navigation {

	color: #B7CBE5;

	a {
		color: #B7CBE5;
		text-decoration: none;
	}

	.cell {
		margin-top: 10px;
		margin-bottom: 20px;
		padding: 5px;
	}

	 ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	 ul li {
		margin: 0;
		padding: 0;
		display: inline-block;
	}


	ul.items li {
		padding: 5px 0;
		display: block;
	}

	
	ul.list {
		margin: 0 0 10px 0;
	}

	
	 .button {
		background: #60b99a;
		padding: 5px 12px;
		font-size: 13px;
		text-decoration: none;
		display: block;
		color: #fff;
	}

	 .button:hover {
		background: #4ea788;
	}

	 a.current {
		background: #27785c;
	}


	 p {
		margin: 0;
	}

}